body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body, div, span, input, img, p, a {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
	font-size: 0;
	border: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
	div, span {
		transition: unset !important;
	}
}

input:focus, a:focus {
	outline: 0px solid transparent;
}
