.header {
	height: 54px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;

	& .search {
		width: 152px;
		background-color: #F1F1F1;
		height: 32px;
		border-radius: 4px;
		display: flex;
		color: #999999;
		align-content: center;
		align-items: center;
		cursor: text;
		& span {
			font-size: 11pt;
			margin-left: 14px;
		}
		// TODO flex-grow: 1;
	}

	& .burger {
		width: 18px;
		height: 18px;
		padding-top: 3px;
		& div {
			width: 18px;
			height: 2px;
			background-color: #A8A8A8;
			margin-bottom: 3px;
		}
		cursor: pointer;
	}
}

// LEFT

.thinVerticalLine {
	//background-clip: content-box;
	width: 1px;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.1);//rgb(235, 235, 235);
	position: absolute;
	left: 0px;
	top: 0px;
}

.thinTopLine {
	width: 100%;
	height: 1px;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0px;
	top: 0px;
}

.thinBottomLine {
	width: 100%;
	height: 1px;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.chatList {
	width: 260px;
	height: 100vh;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}

.chats {
	height: calc(100vh - 54px);
	width: 260px;
	position: relative;
}

.chats .chatListScrollBar, .chats .chatListScrollBarSlider {
	opacity: 0;
}

.chats:hover .chatListScrollBar, .chats:hover .chatListScrollBarSlider {
	opacity: 1;
}

.chatListScrollBarSlider {
	content: "";
	display: block;
	width: 4px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 3px;
	top: 3px;
	height: 100px;
	border-radius: 4px;
	transition: background-color 0.5s ease, opacity 0.5s ease;
}

.chatListScrollBarSlider:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.chatListScrollBar {
	display: block;
	width: 4px;
	background-color: rgba(0, 0, 0, 0.1);
	height: calc(100% - 6px);
	position: absolute;
	right: 3px;
	top: 3px;
	border-radius: 4px;
	transition: background-color 0.5s ease, opacity 0.5s ease;
}

.chatListScrollBar:hover {
	background-color: rgba(0, 0, 0, 0.25);
}

.chatListScrollPane {
	position: relative;
	top: 0px;
	transition: top 0.4s ease;
	height: auto;
}

.chatListElement img.avatar {
	width: 46px;
	height: 46px;
	background-color: gray;
	border-radius: 100%;
	flex-shrink: 0;
	margin-right: 12px;
}

.chatListElement div.avatarEmpty {
	width: 46px;
	height: 46px;
	background-color: #7BC862;
	border-radius: 100%;
	flex-shrink: 0;
	margin-right: 12px;
	font-size: 18px;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.chatListElement span {
	font-size: 11pt;
	white-space: nowrap;
	display: inline-flex;
}

.chatListElement span.bold {
	color: black;
	font-weight: 500;

	text-overflow: ellipsis;
}

.chatListElement span.light {
	color: #919191;
}

.chatListElement span.date {
	align-self: flex-end;
	flex-shrink: 0;
}

.chatListElement span.name {
	flex-shrink: 1;
	position: relative;
}

.chatListElement .counter {
	display: inline-flex;
	flex-shrink: 0;
}

.chatListElement .textcounter {
	display: flex;
	justify-content: space-between;
}

.chatListElement .textcounter .text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-flex;
}

.chatListElement .textcounter .text div {
	display: inline-block;
	font-size: 11pt;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chatListElement .textcounter .text div.who {
	color: #16A0E7;
	margin-right: 4px;
	text-overflow: unset;
	flex-shrink: 0;
}

.chatListElement .textcounter .text div.draft {
	color: #DD4B39;
	margin-right: 4px;
	text-overflow: unset;
	flex-shrink: 0;
}

.chatListElement .textcounter .unread {
	background-color: #BBBBBB;
	flex-shrink: 0;
	color: white;
	font-size: 11pt;
	border-radius: 8px;
	padding: 0px 4px;
	margin-left: 4px;
	height: 17px;
	max-height: 17px;
}

.chatListElement .textcounter .unread div {
	display: inline-block;
	font-size: 10pt;
	white-space: nowrap;
	text-align: center;
	min-width: 10px;
}

.chatListElement .textcounter .mentioned {
	flex-shrink: 0;
	display: flex;
	background-color: #DD4B39;
	width: 17px;
	height: 17px;
	border-radius: 100%;
	margin: 0;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin-left: 4px;

	& div {
		font-size: 10pt;
		display: flex;
		color: white;
		flex-shrink: 0;
		width: 12px;
		height: 18.5px;
	}
}

.chatListElement .textcounter .pinned {
	flex-shrink: 0;
}

.chatListElement .textcounter .pinned img {
	-webkit-filter: invert(1);
	filter: invert(1);
	opacity: 0.5;
	flex-shrink: 0;
}

.chatListElement span.name div {
	display: inline-block;
	font-size: 11pt;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chatListElement span.name img {
	-webkit-filter: invert(1);
	filter: invert(1);
	opacity: 0.6;
	position: relative;

	&.verified {
		margin-left: 4px;
		width: 14px;
		height: 14px;
		top: 2px;
		flex-shrink: 0;
	}

	&.channel {
		width: 12px;
		height: 11px;
		top: 3px;
		margin-right: 4px;
		flex-shrink: 0;
	}

	&.supergroup {
		width: 16px;
		height: 11px;
		top: 4px;
		margin-right: 4px;
		flex-shrink: 0;
	}

	&.bot {
		width: 16px;
		height: 11px;
		top: 3px;
		margin-right: 4px;
		flex-shrink: 0;
	}
	//    hue-rotate(90deg);
}

.chatListElement .wrap {
	margin: 10px;
	height: 46px;
	display: flex;
	flex-grow: 1;
	align-self: center;
}

.chatListElement .namedate {
	display: flex;
	justify-content: space-between;
}

.chatListElement .namedatetext {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: column;
	align-content: space-between;
}

.chatListElement {
	width: 260px;
	height: 62px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;

	background-color: rgba(0,0,0,0);
	transition: background-color 0.15s ease-in-out;
}

.chatListElement__active {
	background-color: #419FD9;
	color: white !important;
}

.chatListElement__active * {
	color: white !important;
}

.chatListElement__active * .unread div {
	color: #419FD9 !important;
}

.chatListElement:hover {
	background-color: #F1F1F1;
}

.chatListElement__active:hover {
	background-color: #419FD9;
}

.chatListElement:hover:active {
	background-color: #E5E5E5;
}

.chatListElement__active:hover:active {
	background-color: #2095D0;
}
