.loginForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	& > * {
		flex-shrink: 0;
	}

	img {
		pointer-events: none;
		width: 13vw;
		height: 13vw;
	}

	.title {
		color: #2FA7E3;
		font-size: 40px;
		font-weight: 600;
		margin-top: 40px;

		text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
		padding-top: 0px;
		padding-bottom: 10px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.sign {
		color: black;
		font-size: 34px;
		font-weight: 600;
		margin-top: 30px;

		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 15px;
		padding-right: 15px;
		color: rgb(240, 240, 240);
	}

	.hint {
		font-size: 16px;
		margin-top: 24px;
		color: #8D969C;

		color: rgba(255, 255, 255, 0.6);
	}

	.phone, .code, .secret {
		margin-top: 24px;
		border-radius: 10px;
		border-style: solid;
		border-width: 1px;
		border-color: #4797E2;
		width: 360px;
		height: 54px;
		line-height: 50px;
		display: inline-block;
		text-align: left;
		padding: 1px;

		transition: border-color 0.4s ease-in-out;
		border-width: 2px;
		border-color: rgba(#4797E2, 0.0);
		padding: 0px;

		&:hover {
			border-color: rgba(#4797E2, 1.0);
		}

		input {
			padding-left: 20px;
			outline-width: 0;
			color: black;
			font-size: 20px;
			height: 52px;
			width: 358px;
			transition: color 0.3s ease-in-out;

			background-color: rgba(255,255,255,0.4);
			color: white;

			&.error {
				color: red;
				color: rgba(255, 155, 155, 0.9);
			}
		}
	}

	.next {
		margin-top: 24px;
		color: white;
		font-size: 20px;
		background-color: #4EA4F6;
		border-radius: 10px;
		height: 54px;
		width: 360px;
		line-height: 50px;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;

		&:hover:active {
			background-color: #418BD0;
		}

		&:hover {
			background-color: #4797E2;
		}
	}
}
