[contenteditable]:focus {
	outline: 0px solid transparent;
}

.bottom {
	width: 100%;
	height: 46px;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: white;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	position: relative;

	& div.input {
		display: flex;
		cursor: text;
		margin-left: 16px;

		& .placeholder {
			position: absolute;
			//cursor: default;
			pointer-events: none;
			color: #BBBBBB;
			font-size: 11pt;
			font-weight: lighter;
			left: 16px;
			top: 34%;
		}

		& .editor {
			width: 2048px; // TODO
			text-align: left;
			outline: none !important;

			& *, & > *, &, & *[style], & > *[style], & > a[style], & a[style] {
				color: black !important;
				user-select: auto !important;
				font-size: 11pt !important;
				cursor: text !important;
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif !important;
				text-decoration: none !important;
				font-weight: lighter !important;
				background-color: transparent !important;
				text-align: left !important;
				display: inline;
			}

			& img, & > img {
				display: none !important;
			}
		}
	}
}
