/* GLOBAL */

@font-face {
	font-family: "Open Sans Regular";
	src: url("../tdesktop/OpenSans-Regular.ttf");
}

/*
@font-face {
  font-family: emoji;

  /* Fonts for text outside emoji blocks * /
  src: url("../tdesktop/OpenSans-Regular.ttf");
}

@font-face {
  font-family: emoji;

  src: / *local('Apple Color Emoji'),
	   local('Android Emoji'),
	   local('Segoe UI'),
	   local(EmojiSymbols),
	   local(Symbola),
	   url('Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
	   url('Symbola-Emoji.woff') format('woff'),*/
/*url('Symbola-Emoji.ttf') format('truetype');* /
	   url('emojione-apple.ttf')/* format('truetype')* /;

  /* Emoji unicode blocks * /
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}*/

@font-face {
	font-family: emoji;
	src: url("../tdesktop/OpenSans-Regular.ttf");
}

@font-face {
	font-family: emoji;
	src: url('Symbola-Emoji.woff') format('truetype');
	unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

* {
	white-space: nowrap;
	color: #707579;
	/*font-size: 11pt;*/
	font-family: sans-serif;
	font-family: "Open Sans Regular";
	font-family: emoji;
	font-weight: 400;
	font-stretch: normal;
	font-family: Roboto, Segoe UI;
	/*font-variant: small-caps;*/
	/*font-size: 0;*/
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

img {
	/*pointer-events: none;*/
}

/* Fix to keep markup clean */
.ignore-white-space {
	font-size: 0;
}

.normal,
.normal *,
.normal>* {
	font-size: 11pt;

}

.black {
	color: #000000;
}


.bold {
	font-weight: 600;
}

.larger {
	font-size: 14pt;
}

.verylarge {
	font-size: 15pt;
	font-weight: 700;
}

.gray {
	color: #8D969C;
}

.blue {
	color: #4EA4F6;
}

.green {
	color: #4FAE4E;
}

.small {
	font-size: 10pt;
}

.lightgray {
	color: #A2ACB4;
}

:root {
	--width: 1280px;
}

.hidden {
	display: none !important;
}

.click {
	cursor: pointer !important;
}

.scrollbar {
	color: #B8BCBE;
	background-color: #B8BCBE;
	width: 6px;
	position: absolute;
	border-radius: 3px;
}

.lol_1 {
	width: 22px;
	min-width: 22px;
	height: 22px;
	min-height: 22px;
	display: inline-block;
	background: url(emoji_125x.webp) 0 0;
	background-position: -22px 0;
}

.emoji {
	width: 22px;
	min-width: 22px;
	height: 22px;
	min-height: 22px;
	display: inline-block;
	background: url(emoji_125x.webp) 0 0;
	font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";

}

.lol_2 {
	width: 22px;
	height: 22px;
	background: url(emoji_125x.webp) -22px 0;
}

/* VIEWS */

.all {
	width: 100%;
	clear: both;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left {
	overflow: hidden;
	width: 420px;
	float: left;
	background-color: #FFFFFF;
	height: 100%;
	border: 0;

	border-right: 1px;
	border-color: #DADCE0;
	border-style: solid;
}

.center {
	overflow: hidden;

	width: calc(100% - 421px - 421px);
	float: left;
	background-color: #E6EBEE;
	height: 100%;
}

.right {
	overflow: hidden;
	width: 420px;
	float: left;
	background-color: #FFFFFF;
	height: 100%;

	border-left: 1px;
	border-color: #DADCE0;
	border-style: solid;
}

.top {
	overflow: hidden;
	height: 55px;
	width: 100%;
	background-color: #FFFFFF;

	/*border-right: 1px;
			border-left: 1px;
			border-top: 1px;
			padding-left: 1px;
			padding-right: 1px;
			border-color: #242A2E;
			border-style: solid;*/
}

::-webkit-scrollbar {
	width: 0px;
}

/*::-webkit-scrollbar-track {
	background-color: #eae;
	border-left: 1px solid #222;
}

::-webkit-scrollbar-thumb {
	background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #333;
	cursor: pointer;
}*/


/* LEFT */


/*.roomChat :hover *, .roomChatWrap :hover, */

.roomChat :hover {
	background-color: #DADCE0;
	/*background-clip: padding-box;*/
}

.roomChat {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 77px;
	display: block;
	/*background-clip: content-box, padding-box;*/
	/*float:left;*/
	overflow: hidden;
}

.roomChatWrap {
	padding-left: 2px;
	padding-top: 10px;
	display: block;
	width: 100%;
	height: 100%;
}

.roomChatText {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 219px;
	overflow: hidden;
	float: left;
	padding-top: 7px;
	width: 298px;
}

.roomChatUser {
	height: 1em;
}

.roomChatImage {
	/*width: calc(84px);*/
	height: 54px;
	width: 54px;
	float: left;
	display: block;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;

	/*background-image: url(photo_2015-04-04_16-06-52.jpg)  no-repeat;
	border-radius: 100%;
	background: url(photo_2015-04-04_16-06-52.jpg) no-repeat;*/
}

.circle {
	border-radius: 50%;
}

.roomChatBlock {
	/*width: calc(241px);*/
	float: right;
	float: left;
	display: block;
	width: 78%;
}

.roomChatDate {
	margin-right: 10px;
	float: right;
}

.room-message-bottom {
	position: relative;
}

.pinned {
	background-color: #C4C9CC;
	color: #FFFFFF;
	border-radius: 12px;
	height: 24px;
	font-weight: 500;

	min-width: 24px;
	min-height: 24px;
	display: inline-block;
	text-align: center;

	box-sizing: border-box;
	padding: 0 8px;
	position: absolute;
	right: 0;
	top: 3px;

	line-height: 1.79;
	font-size: 14px;
}

.pinned img {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.pinned-green {
	background-color: #4DCD5E;

}

.pinnedIcon {
	padding-top: 7px;
	float: right;
	display: inline-block;
	margin-right: 10px;
	display: flex;
	border-radius: 8px;
}

/* RIGHT */

.media-img {
	margin: 2px;
	/*padding: 2px;*/
}

/* CENTER TOP */

.out {
	overflow: scroll;
	overflow-x: hidden;
}

.topCenter {
	overflow: hidden;
	height: 60px;
	/*width: calc(100% - 4px);*/
	background-color: #FFFFFF;

	/*border-right: 1px;*/
	border-bottom: 1px;
	/*border-left: 1px;*/
	border-top: 0px;
	padding-left: 1px;
	padding-right: 1px;
	border-color: #DADCE0;
	border-style: solid;
}


/* CENTER BOTTOM */

[contenteditable=true]:empty:not(:focus):before{
  /*content:attr(data-ph);*/
  content:attr(placeholder);
  color:grey;
  font-style:italic;
}

.bottom {
	overflow: hidden;
	height: 84px;
	width: calc(100% - 421px - 421px - 4px);
	/*background-color: #E6EBEE;*/
	/*top:256px;position: relative;bottom: 0;*/
	position: absolute;
	bottom: 0;
	border: 0;

	/*border-right: 1px;*/
	/*border-left: 1px;*/
	/*border-top: 1px;*/
	/*padding-left: 1px;*/
	/*padding-right: 1px;*/
	/*border-color: #242A2E;*/
	/*border-bottom: 0px;*/
	/*border-style: solid;*/
}


/* CENTER */

.myMessage {
	background-color: #282E33;
	border-radius: 8px;
	margin: 2px;
	margin-right: 10px;
	/*margin-left: auto;*/
	/*float: right;*/
	padding: 10px;
	margin-left: auto;
	display: block;
	justify-content: flex-end;
	max-width: 472px;
}

.theirMessage {
	/*float: left;*/
	border-radius: 8px;
	margin: 2px;
	margin-right: auto;
	background-color: #282E33;

	padding: 10px;
}

.wrapMessage {
	margin: 3px;
	/*width: 100%;*/
	display: flex;
}

.splitMessage {
	margin: 7px;
	/*float: left;*/
}

.splitMessageWithDate {
	width: 100%;
	text-align: center;
	margin-bottom: 7px;
	margin-top: 15px;
	/*display: inline-block;*/
}

.splitMessageWithDateInner {
	padding-top: 2px;
	padding-left: 14px;
	padding-right: 14px;
	/*  margin-top: 7px;
	margin-bottom: 7px;
	margin-left:auto;
	height: 32px;*/
	/*padding-top: 5px;*/
	/*width: auto;*/
	/*text-align: center;

	display: block;
  margin-left: auto;
  margin-right: auto;*/
	/*display: flex;*/
	/*width: auto;*/
}

.splitMessageWithDateInner0 {
	background-color: #282E33;
	border-radius: 16px;
	width: auto;
	display: inline-block;
	/*padding-top: 5px;*/
	/*padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;*/
	height: 32px;
	/*display: inline-block;*/
}

.dateOfMessage {
	color: #828D7A;
	float: right;
}

.dateOfMessage::before {
	content: '';
	margin-left: 1em;
	display: inline-block;
}

.messageSelectable {
	user-select: text !important;
	cursor: text !important;
	-webkit-user-drag: auto !important;
	/*float: left;
	display: inline-block;*/
}

.messageSelectable::selection {
	background: #009687;
	text-shadow: none;
}

.authorOfMessage {
	color: #57C7F3;
}


/* MENU */

.contextMenuWrap {}

.contextMenu {
	/*overflow: hidden;*/
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #282E33;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 512px;
	top: 512px;
	height: calc(40px*6 + 10px*0);
	width: 225px;
}

.contextMenuButton {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 40px;
	display: block;
	/*background-clip: content-box, padding-box;*/
	/*float:left;*/
}

.contextMenuButtonWrap {
	padding-left: 22px;
	padding-top: 7px;
	/*height: 40px;*/
}

.contextMenuButtonHover :hover {
	background-color: #313B43;
}

/* RIPPLE */

.rp {
	overflow: hidden;
	position: relative
}

.rp .ripple {
	position: absolute;
	background: rgba(0, 0, 0, .08);
	/*background: rgba(112, 117, 121, .08);*/
	border-radius: 50%;
	width: 1px;
	height: 1px;
	-webkit-animation: rippleEffect .7s ease;
	animation: rippleEffect .7s ease;
	opacity: 0
}

.rp.rps .ripple {
	width: 1px;
	height: 1px;
	-webkit-animation: rippleEffectSmall .4s ease;
	animation: rippleEffectSmall .4s ease
}

@-webkit-keyframes rippleEffect {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	30% {
		opacity: 1
	}

	to {
		-webkit-transform: scale(1000);
		transform: scale(1000);
		opacity: 0
	}
}

@keyframes rippleEffect {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	30% {
		opacity: 1
	}

	to {
		-webkit-transform: scale(1000);
		transform: scale(1000);
		opacity: 0
	}
}

@-webkit-keyframes rippleEffectSmall {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	30% {
		opacity: 1
	}

	to {
		-webkit-transform: scale(100);
		transform: scale(100);
		opacity: 0
	}
}

@keyframes rippleEffectSmall {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	30% {
		opacity: 1
	}

	to {
		-webkit-transform: scale(100);
		transform: scale(100);
		opacity: 0
	}
}

/* LOGIN */

.login {
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	text-align: center;




	overflow: scroll;
	overflow: hidden;
	overflow-y: scroll;

}

.login-screen {
	padding-top: 110px;
}

.login-title {
	font-size: 34px;
	color: black;
	font-weight: 600;
	margin-top: 50px;
}

.login-button {
	color: white;
	font-size: 20px;
	background-color: #4EA4F6;
	border-radius: 10px;
	height: 54px;
	width: 360px;
	display: inline-block;
	line-height: 50px;
}

.login-button:hover {
	background-color: #4797E2;
	cursor: pointer !important;
}

.login-hover:hover {
	background-color: #4797E2 !important;
	cursor: pointer !important;
}

.login-description {
	font-size: 16px;
}

.login-input {
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #4797E2;
	font-size: 20px;
	width: 360px;
	height: 54px;
	line-height: 50px;
	display: inline-block;
	text-align: left;
}

.login-input:hover {
	border-width: 2px;
	margin: -1px;
}

.login-input-invalid {
	border-width: 2px;
	border-color: #E53935;
	margin: -1px;
}

.login-block {
	margin-top: 24px;
	/*margin-bottom: 12px;*/
}

.login input {
	caret-color: #4796E1;
	font-size: 20px;

}

.login-reposition {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.login-country:hover {
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer !important;
}

.login-country {
	/*height: 58px;*/
	padding-top: 4px;
}

.login-country img {
	height: 24px;
	width: 24px;
	margin-left: 19px;
}

.login-country-code {
	float: right;
	margin-right: 19px;
}

*:focus {
	outline: none;
}

.login-button:active {
	background-color: #418BD0;
}

.login-hover:active {
	background-color: #418BD0 !important;
}
